#books{
	padding: 10px 5px;
	margin-top: 10px;
	font: bold;
	font: green;
	background-color: blue;
}

#music{
	font: italic;
	font: blue;
	background-color: black;

}
#navvy{
 	list-style-type: none;
    margin: 0;
    padding: 0px;
    text-align: center;
  
}
#navvy li {
	display:inline;
}
